.customers {
 display: flex;
 justify-content: center;
 /* align-items: center; */
 padding: 60px 0;
 border-top: 1px solid #D8E3FE;
}

.customers__item {
margin-right: 70px;
color: #D6DAE5;
transition: 0.5s;
}

.customers__item:last-child {
    margin-right: 0;
}
.customers__item:hover {
    color: #5982E7;
}